header h1{
   color: #ffffff;
   display: inline;
}

header img{
   width: 170%;
}

#headshot{
}

#headshot img{
   display: block;
   width: 50%;
   border-radius: 5000px;
   margin: 0 auto;
   vertical-align: middle;
}

footer{
   padding: 20px 0;
}

#btn-row{
   padding-top: 2em;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   header img{ width: 33%;}
}
